@mixin devices ($breakpoint) {
    //the name of the mixin is devices

    @if $breakpoint ==tablet {
        @media only screen and (max-width: 680px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media only screen and (max-width: 481px) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}